/* You can add global styles to this file, and also import other style files */
body{background-color: rgba(211, 206, 206, 0.411);}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  li {
    list-style: none;
  }
  
  p {
    border: 0.5px grey solid;
    background-color: white;
  }

  span{
    margin-right: 10px;
    color: indigo;
  }
  